# LaTeX auxiliary files
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg
*.idx
*.ind
*.ilg


# Temporary files
*.tmp
*.temp
temp_informe_snippet.tex
paper3/00README.json
paper3/tikzit.sty
.gitignore
paper3/arxiv.tex
